## Практичне заняття 2. Тестування  вектору середніх.

# Приклад 1. Гіпотеза про середнє при відомій дисперсії (Example 5.2.2)

Зчитуємо таблицю 3.1  (див. Rencher, Chapter 3, p.45 (стор. 60 у  файлі))

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
Tab_3_1<-read.table("T3_1_HEIGHTWT.DAT")
head(Tab_3_1)

  V1 V2 V3
1 1  69 153
2 2  74 175
3 3  68 155
4 4  70 135
5 5  72 172
6 6  67 150

Припустимо, що ми знаємо коваріаційну матрицю. Припустимо, що ми знаємо коваріаційну   матрицю $E$. Див. стор. 129 у файлі [Rencher'02].  Також, визначимо вектор $\mu_0$.

In [ ]:
E<-matrix(c(20,100,100,1000),nrow = 2, byrow = FALSE)
E
mu0<-c(70,170)
mu0

     [,1] [,2]
[1,]  20   100
[2,] 100  1000

[1]  70 170

Виводимо перший стовбчик таблиці:

In [ ]:
Tab_3_1$V1

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

Визначимо вектори $X1$ та $X2$:

In [ ]:
X1<-Tab_3_1$V2
X2<-Tab_3_1$V3

Знаходимо вектор середніх значень $\bar{X}$.

In [ ]:
xbar<-c(mean(X1),mean(X2))
xbar

[1]  71.45 164.70

Ми маємо 20 спостережень, і маємо двовимірний вектор.

In [ ]:
m = 20
p = 2

Але краще знайти ці значення з наших даних. Для цього розглянемо розмірність $da0$. Перша координата  в $dim(da0)$ -- це кількість спостережень, друга- розмірність вектору.

In [ ]:
Tab_dim = dim(Tab_3_1)
m = Tab_dim[1]
p = Tab_dim[2]-1
Tab_dim
m
p

[1] 20  3

[1] 20

[1] 2

Обчислюємо
$$
Z^2= m  (\bar{X}-\mu_0)' \Sigma^{-1} (\bar{X}-\mu_0)= m \Delta^2.
$$
$t(A)$ означає транспоновану матрицю А,  %*% щзначає множення матриць

In [ ]:
Z2<-m*t(xbar-mu0)%*%solve(E)%*%(xbar-mu0)
Z2

     [,1]
[1,] 8.4026

А можна рахувати вбудованою функцією
Використаємо відстань Махаланобіса між вектором середніх і $mu0h0$

In [ ]:
Z2new<-m*mahalanobis(xbar,mu0,E)
Z2new

[1] 8.4026

Рахуємо квантіль рівня 0.95 хі-квадрат родподілу з 2ма ступенями свободи:

In [ ]:
qchisq(0.95,df = p, lower.tail = TRUE, log.p = FALSE)

[1] 5.991465

Відхиляємо  гіпотезу H0: $mu=mu0$, оскільки $Z2> qchisq(...)$

Розглянемо ще одну можливість перевірити гіпотезу вбудованою функцією. Для цього треба встановити пакет Hotelling.

In [ ]:
# install.packages("Hotelling")
library(Hotelling)

Loading required package: corpcor

Для того, щоб використати функцію hotelling.test, потрібно підставити  $xbar$ та  $mu0$  у вигляді матриць. Тут вважається, що коваріаційна матриця невідома.

In [ ]:
xbar=as.matrix(xbar)
mu0=as.matrix(mu0)
P=hotelling.test(xbar, mu0, shrinkage = FALSE, var.equal = TRUE)
P

Test stat:  0.00079284
Numerator df:  1
Denominator df:  2
P-value:  0.9801

# Приклад 2. Гіпотеза про середнє при невідомій дисперсії.


Зчитуємо таблицю 3.3 (див. Rencher, Chapter 3, p.56 (стор. 73 у  файлі)

In [ ]:
Tab_3_3<-read.table("T3_3_CALCIUM.DAT", header=F)
Tab_3_3

   V1 V2 V3   V4
1   1 35  3.5 2.80
2   2 35  4.9 2.70
3   3 40 30.0 4.38
4   4 10  2.8 3.21
5   5  6  2.7 2.73
6   6 20  2.8 2.81
7   7 35  4.6 2.88
8   8 35 10.9 2.90
9   9 35  8.0 3.28
10 10 30  1.6 3.20

Утворюємо матрицю М з векторів V2, V3, V4:

In [ ]:
Y1<-Tab_3_3$V2
Y2<-Tab_3_3$V3
Y3<-Tab_3_3$V4
M<-cbind(Y1,Y2,Y3)
M

      Y1 Y2   Y3
 [1,] 35  3.5 2.80
 [2,] 35  4.9 2.70
 [3,] 40 30.0 4.38
 [4,] 10  2.8 3.21
 [5,]  6  2.7 2.73
 [6,] 20  2.8 2.81
 [7,] 35  4.6 2.88
 [8,] 35 10.9 2.90
 [9,] 35  8.0 3.28
[10,] 30  1.6 3.20

Знаходимо коваріаційну матрицю, що пов'язана з М:

In [ ]:
cov(M)
cor(M)

   Y1         Y2        Y3
Y1 140.544444 49.680000 1.9412222
Y2  49.680000 72.248444 3.6760889
Y3   1.941222  3.676089 0.2501211

   Y1        Y2        Y3
Y1 1.0000000 0.4930154 0.327411
Y2 0.4930154 1.0000000 0.864762
Y3 0.3274110 0.8647620 1.000000

Можна зробити простіше:

In [ ]:
M<-cbind.data.frame(Tab_3_3)
class(M)

[1] "data.frame"

In [ ]:
M<-as.matrix(M)

Знаходимо вектор середніх значень $\mu$:

In [ ]:
ybar<-c(mean(Y1),mean(Y2),mean(Y3))
ybar

[1] 28.100  7.180  3.089

Задамо також вектор середніх який буде використано для перевірки гіпотези $H_0$: $\mu=\mu_0$.

In [ ]:
mu0h0<-c(15.0, 6.0, 2.85)
n<- c(dim(M))[1]
p<- c(dim(M))[2]
n
p

[1] 10

[1] 3

Обчислюємо статистику Хотеллінга:

In [ ]:
T2<-n*t(ybar-mu0h0)%*%solve(cov(M))%*%(ybar-mu0h0)
T2

     [,1]
[1,] 24.55891

А можна рахувати вбудованою функцією. Використаємо відстань Махаланобіса між вектором середнії і $mu0h0$.

In [ ]:
T2new<-n*mahalanobis(ybar,mu0h0,cov(M))
T2new

[1] 24.55891

Тепер обчислимо   перетворення $F$:
$$
F= \frac{n-p}{(n-1)p}T^2_{p,n-1}\sim  F_{p,n-p}.
$$
Тобто випадкова величина $F$ має розподіл Фішера з $p$, $n-p$  ступенями свободи. Відповідно, гіпотеза $H_0$ відхиляється, якщо
 $F> F_{\alpha, p,n-p}$,  де $F_{\alpha, p,n-p}$ - квантіль рівня  $\alpha$ розподілу  $F_{p,n-p}$. Ми покладемо  $\alpha =0.95$.

In [ ]:
F<- T2* (n-p)/((n-1)*p)
F

     [,1]
[1,] 6.367124

Обчислюємо квантіль рівня 0.05 розподілу $F(3,10-3)=F(3,7)$.

In [ ]:
qf(0.95, p, n-p,  lower.tail = TRUE, log.p = FALSE)

[1] 4.346831

Відхиляємо, оскільки $F$ більша за $qf(....)$

Щоб  скористатися статистикою Хотеллінга, яку вбудовано в  $R$, потрібно встановити наступні пакет ICSNP і завантажити бібліотеку.

In [ ]:
#install.packages("ICSNP")
library(ICSNP)

Warning message:
"package 'ICSNP' was built under R version 3.6.3"Loading required package: mvtnorm
Warning message:
"package 'mvtnorm' was built under R version 3.6.3"Loading required package: ICS
Warning message:
"package 'ICS' was built under R version 3.6.3"

Рахуємо статистику Хотеллінга $Т2$  (chi означає, що ми використовуємо  саме $Т2$, а не розподіл Фішера.

In [ ]:
HotellingsT2(M, Y = NULL, mu = mu0h0, test = "chi", na.action = na.fail)

	Hotelling's one sample T2-test

data:  M
T.2 = 24.559, df = 3, p-value = 1.909e-05
alternative hypothesis: true location is not equal to c(15,6,2.85)

А тепер обчислюємо те саме, але використовуючи розподіл Фішера:

In [ ]:
HotellingsT2(M, Y = NULL, mu = mu0h0, test = "f", na.action = na.fail)

	Hotelling's one sample T2-test

data:  M
T.2 = 6.3671, df1 = 3, df2 = 7, p-value = 0.02068
alternative hypothesis: true location is not equal to c(15,6,2.85)

## Приклад 3. Гіпотеза про рівність середніх у 2х вибірках

Зчитуємо таблицю 5.1  (див. Rencher, Chapter 5, p.124 (стор. 140 у  файлі).

In [ ]:
Ma = as.matrix(Tab_5_1[1:32,2:5])

In [ ]:
Tab_5_1<-read.table("T5_1_PSYCH.DAT")
head(Tab_5_1)

  V1 V2 V3 V4 V5
1 1  15 17 24 14
2 1  17 15 32 26
3 1  15 14 29 23
4 1  13 12 10 16
5 1  20 17 26 28
6 1  15 21 26 21

In [ ]:
Male<- cbind.data.frame(Tab_5_1[1:32,2:5])
head(Male)

  V2 V3 V4 V5
1 15 17 24 14
2 17 15 32 26
3 15 14 29 23
4 13 12 10 16
5 20 17 26 28
6 15 21 26 21

In [ ]:
Female<- cbind.data.frame(Tab_5_1[33:64,2:5])

Ще простіше - одразу зчитати у вигляді матриці:

In [ ]:
Male <- as.matrix(Tab_5_1[1:32,2:5])
Female <- as.matrix(Tab_5_1[33:64,2:5])

Будуємо вектори середніх значень та коваріації.  Функція  colMeans дозволяє знайти середнє по стовбчикам. Знайдемо також матриці коваріацій.

In [ ]:
Fmean = colMeans(Female)
Mmean = colMeans(Male)

In [ ]:
S1<-cov(Male)
S2<-cov(Female)
S1

   V2       V3        V4        V5
V2 5.192540  4.545363  6.522177  5.250000
V3 4.545363 13.184476  6.760081  6.266129
V4 6.522177  6.760081 28.673387 14.467742
V5 5.250000  6.266129 14.467742 16.645161

Знайдмо кількість елементів у вибірці $F$ та $M$. Знайдемо  pooled covariance.

In [ ]:
n1<-dim(Male)[1]
n2<-dim(Female)[1]
p<-dim(Female)[2]

In [ ]:
n1

[1] 32

In [ ]:
p

[1] 4

In [ ]:
Spl<-((n1-1)*S1+ (n2-1)*S2)/(n1+n2-2)  # pooled covariance
Spl

   V2       V3        V4        V5
V2 7.164315  6.047379  5.693044  4.700605
V3 6.047379 15.894153  8.492440  5.855847
V4 5.693044  8.492440 29.356351 13.980847
V5 4.700605  5.855847 13.980847 22.320565

Обчислимо тепер
$$
T^2 = \frac{n_1 n_2}{n_1+n_2} (F_{mean} - M_{mean})'S_{pl}^{-1}(F_{mean} - M_{mean})
$$

In [ ]:
T2<-((n1*n2)/(n1+n2))*mahalanobis(Mmean,Fmean,Spl)
T2

[1] 97.6015

Рахуємо $F$ статистику:
$$
F:= \frac{n_1+n_2-p-1}{(n_1+n_2-2)p}T^2_{p,n_1+n_2-2}\sim  F_{p,n_1+n_2-p-1}
$$

In [ ]:
F<-T2*(n1+n2-p-1)/((n1+n2-2)*p)
F

[1] 23.21971

Обчислюємо квантіль розподілу $F_{p, n_1+n_2-p-1}$  рівня $0.95$:

In [ ]:
qf(0.95, p, n1+n2-p-1,  lower.tail = TRUE, log.p = FALSE)

[1] 2.527907

Відхиляємо, оскільки $F$ більша за $qf(....)$.

Можна також зробити тест Хотеллінга для двох виборок. У перщому випадку ми використовували тест $\chi^2$, у другому- тест Фішера.
Насправді, треба ще перевірити, що коваріаційні матриці однакові, оскільки це умова використання тесту!

In [ ]:
HotellingsT2(Male, Female,  test = "chi", na.action = na.fail)

	Hotelling's two sample T2-test

data:  Male and Female
T.2 = 97.601, df = 4, p-value < 2.2e-16
alternative hypothesis: true location difference is not equal to c(0,0,0,0)

In [ ]:
HotellingsT2(Male, Female,  test = "f", na.action = na.fail)

	Hotelling's two sample T2-test

data:  Male and Female
T.2 = 23.22, df1 = 4, df2 = 59, p-value = 1.464e-11
alternative hypothesis: true location difference is not equal to c(0,0,0,0)